name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

env:
  CARGO_TERM_COLOR: always
  MDBOOK_VERSION: v0.4.18

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Install Rust
      run: |
        rustup set profile minimal
        rustup toolchain install nightly -c rust-docs
        rustup default nightly
    - name: Install linkcheck
      run: |
        curl -sSLo linkcheck.sh \
          https://raw.githubusercontent.com/rust-lang/rust/master/src/tools/linkchecker/linkcheck.sh
    - name: Install mdBook
      run: |
        mkdir bin
        curl -sSL https://github.com/rust-lang/mdBook/releases/download/$MDBOOK_VERSION/mdbook-$MDBOOK_VERSION-x86_64-unknown-linux-gnu.tar.gz | tar -xz --directory=bin
        echo "`pwd`/bin" >> $GITHUB_PATH
    - name: Report versions
      run: |
        mdbook -V
        rustup -V
    - name: Build & Run linkcheck
      run: sh linkcheck.sh book

  deploy:
    needs: [check]
    runs-on: ubuntu-latest
    if: ${{ github.ref == 'refs/heads/master' }}
    steps:
    - uses: actions/checkout@v3
    - name: Install mdBook
      run: |
        mkdir bin
        curl -sSL https://github.com/rust-lang/mdBook/releases/download/$MDBOOK_VERSION/mdbook-$MDBOOK_VERSION-x86_64-unknown-linux-gnu.tar.gz | tar -xz --directory=bin
        echo "`pwd`/bin" >> $GITHUB_PATH
    - name: Build the book
      run: mdbook build
    - name: Configure git
      run: |
        git config user.name github-actions
        git config user.email github-actions@github.com
    - name: Publish
      run: ./scripts.publish
